@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2 class="bienvenu">Bienvenue dans le</h2>
<img src="~/assets/Common/logo.png" alt="Casino de Yann" class="leaderboard-logo" />
<h2 class="title">Leaderboard</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Money</th>
        <th>Level</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.TopUsers != null && Model.TopUsers.Any())
    {
        var rank = 1;
        foreach (var user in Model.TopUsers)
        {
            <tr>
                <td>@rank</td>
                <td>                            
                    <a asp-page="/user" asp-route-username="@user.Username">
                    @user.Username
                </a></td>
                <td>@user.Money.ToString("C", new System.Globalization.CultureInfo("ja-JP"))</td>
                <td>@(user.Xp / 1000)</td>
            </tr>
            rank++;
        }
    }
    else
    {
        <tr>
            <td colspan="3">No users available.</td>
        </tr>
    }
    </tbody>
</table>